.client {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(150deg, #7D3484, #501952, #501952);
    color: white;
    overflow: hidden;
}

.client .content {
    display: grid;
    grid-template-columns: 70px auto;
    overflow: hidden;
}

.client .content .rail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

.client .content main {
    display: grid;
    grid-template-columns: 305px auto;
    height: calc(100vh - 40px);
    margin-right: .3em;
    margin-bottom: .3em;
}

.client .content main aside {
    background-color: rgb(71, 34, 75, .8);
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    padding: .5em;
}

.client .content main .workspace {
    background-color: white;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
    height: calc(100vh - 40px);
    margin-right: 0px;
}